@charset "UTF-8";
@font-face {
  font-family: "Code Light";
  src: url("../fonts/CODE Light.otf"); }
body {
  font-size: 10px;
  border: 5px solid #ffffff;
  background: #f6f6f6; }

#header {
  background: #f6f6f6; }

.navbar-scocov {
  margin-bottom: 0; }
  .navbar-scocov .nav-header-scocov .btn-collapsed-scocov {
    border: 1.5px solid #28a4c9;
    margin: 18px; }
    .navbar-scocov .nav-header-scocov .btn-collapsed-scocov span {
      border: 1px solid #28a4c9; }
  .navbar-scocov .brand-scocov {
    padding: 0;
    margin: 5px; }
    .navbar-scocov .brand-scocov .img-logo {
      height: 100%; }
  .navbar-scocov .nav-scocov {
    margin-bottom: 0; }
    .navbar-scocov .nav-scocov .li-nav-scocov {
      color: black;
      font-family: Code, serif;
      font-size: 1.6em;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 3.2em;
      margin-top: 10px;
      margin-bottom: 10px; }
      .navbar-scocov .nav-scocov .li-nav-scocov a {
        padding-top: 10px;
        padding-bottom: 10px; }
        .navbar-scocov .nav-scocov .li-nav-scocov a:hover {
          background-color: #ffea00; }

.section-welcome {
  width: 100%;
  height: 80vh; }
  .section-welcome .carousel-scocov .list-slide-scocov .item-slide-scocov .list-face-welcome {
    background: url("../images/slider-bg.png") 100% no-repeat; }
  .section-welcome .carousel-scocov .list-slide-scocov .item-slide-scocov h2 {
    color: black;
    font-family: "Century Gothic";
    font-size: 7em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left; }
  .section-welcome .carousel-scocov .list-slide-scocov .item-slide-scocov p {
    color: white;
    font-family: "Century Gothic";
    font-size: 2.4em;
    font-weight: 400;
    text-align: left;
    background: #3f3f44; }

.section-designs .row-designs-scocov {
  list-style-type: none;
  display: inline; }

.section-masonry-images .list-img-masonry .item-slide {
  width: 320px;
  height: 100%; }

.section-clients .content-slide-scocov {
  position: relative;
  text-align: left;
  margin: 5px auto;
  width: 100%; }
  .section-clients .content-slide-scocov .leftbtn-client-scocov,
  .section-clients .content-slide-scocov .rightbtn-client-scocov {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 9999;
    cursor: pointer;
    text-align: center;
    font: normal bold 48px/48px 'Advent Pro', sans-serif;
    padding: 5px;
    width: 30px;
    height: 50px;
    color: #000000; }
  .section-clients .content-slide-scocov .leftbtn-client-scocov {
    left: -50px;
    /*расположение кнопки*/ }
  .section-clients .content-slide-scocov .rightbtn-client-scocov {
    right: -50px; }
  .section-clients .content-slide-scocov .rightbtn-client-scocov:hover,
  .section-clients .content-slide-scocov .leftbtn-client-scocov:hover {
    color: #FFF;
    opacity: 1;
    text-decoration: none; }
.section-clients .simple-slider-scocov {
  overflow: hidden; }
  .section-clients .simple-slider-scocov .img-slade-scocov {
    left: 0;
    top: 0;
    width: 140px;
    border: 1px solid #ffffff;
    margin-left: 39px;
    margin-top: 10px; }
    .section-clients .simple-slider-scocov .img-slade-scocov:first-child {
      margin-left: 5px; }

#footer {
  font-family: "Century Gothic";
  text-align: center;
  background: #3f3f44;
  font-size: 1.3rem;
  color: #ffffff; }
  #footer .container .row-footer-scocov {
    list-style-type: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0; }
  #footer .container .icon-footer-scocov {
    width: 2.8rem;
    padding: 0.75rem 0;
    background: #000000; }
  #footer .container .yellow {
    color: #ffeb00; }
  #footer .container h3 {
    font-size: 1.8rem; }
  #footer .container p {
    font-family: "Century Gothic";
    font-weight: 400;
    line-height: 2.1rem; }

.col-scocov-about div {
  width: 121px;
  background-color: black;
  border-bottom: 1px solid #ffeb00;
  display: inline-block; }
  .col-scocov-about div .btn-learn-more {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 1.3rem 1.8rem; }
.col-scocov-about .img-scocov-about {
  padding: 0.2rem; }

.col-scocov-tweets p {
  margin-left: -15px;
  margin-right: -15px; }
.col-scocov-tweets .days {
  font-size: 0.8rem; }
.col-scocov-tweets .footer-social-connecting {
  display: inline-block;
  list-style-type: none;
  width: 100%;
  padding-left: 0; }
  .col-scocov-tweets .footer-social-connecting li {
    display: inline-block; }
    .col-scocov-tweets .footer-social-connecting li a {
      color: #ffffff; }

.col-scocov-contact .form-scocov .input-footer-scocov {
  border: none;
  background: transparent;
  border-bottom: 2px solid #cfc011;
  border-radius: 0;
  box-shadow: none; }
.col-scocov-contact .form-scocov .input-group-btn-scocov {
  background: transparent; }
  .col-scocov-contact .form-scocov .input-group-btn-scocov .btn-footer-scocov {
    margin: 5px 0 0;
    border-radius: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    background: #000000; }
    .col-scocov-contact .form-scocov .input-group-btn-scocov .btn-footer-scocov i {
      width: 2.8rem;
      padding: 0.7rem 0; }

/*для изображений сразу задаем необходимые размеры*/
@media (min-width: 993px) {
  body {
    font-size: 14px; }

  .navbar-scocov .brand-scocov .img-logo {
    min-height: 116px;
    margin-top: 34px; }
  .navbar-scocov .nav-scocov .li-nav-scocov a {
    padding: 25px 10px;
    margin: 50px 0 31px 50px; }

  #footer {
    padding-top: 30px; }
    #footer .col-scocov-about {
      width: 410px;
      text-align: left;
      padding: 0; }
      #footer .col-scocov-about .title-about {
        margin-top: 46px;
        margin-bottom: 24px; }
    #footer .col-scocov-tweets {
      width: 409px;
      text-align: left; }
      #footer .col-scocov-tweets .footer-social-connecting {
        display: inline-block;
        width: 430px;
        margin-top: 50px; }
        #footer .col-scocov-tweets .footer-social-connecting h4 {
          display: inline-block; }
        #footer .col-scocov-tweets .footer-social-connecting ul {
          display: inline-block;
          padding-left: 9px; }
      #footer .col-scocov-tweets .icon-footer-scocov {
        text-align: center; }
    #footer .col-scocov-contact {
      width: 319px; } }
@media (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 14px; }

  .navbar-scocov .brand-scocov .img-logo {
    height: 100%; } }
@media (min-width: 768px) and (max-width: 992px) and (min-width: 576px) and (max-width: 767px) {
  body {
    font-size: 14px; }

  .navbar-scocov .brand-scocov .img-logo {
    height: 100%; }

  .navbar-scocov .brand-scocov .img-logo {
    height: 100%; } }

/*# sourceMappingURL=style.css.map */
