html{
    font-size: 12px;
}
#header{
    background: #f6f6f6;
}
.navbar-skokov{
    margin-bottom: 0;
    .nav-header-skokov {
        .btn-collapsed-skokov {
            //border: 1.5px solid #28a4c9;
            //margin-top: 18px;

            span{
                border: 1px solid #28a4c9;
            }
        }
    }
    .brand-skokov{
        padding: 0;
        .img-logo{
            width: 80px;
            height: 50%;
        }
    }
    .nav-skokov {
        margin-bottom: 0;
        .active{
            a{
                background-color: #ffea00;
            }
        }
        .li-nav-skokov {
            color: black;
            font:300 1rem/2rem Code, serif ;
            text-transform: uppercase;
            margin-top: 10px;
            margin-bottom: 10px;
            .activ{

            }
            a {
                padding-top:10px;
                padding-bottom:10px;
                &:hover {
                    background-color: #ffea00;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    html{
        font-size: 15px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    html{
        font-size: 14px;
    }
    .navbar-skokov {
        .nav-skokov {
            .li-nav-skokov {
                margin-top: 40px;
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    html{
        font-size: 16px;
    }
    .navbar-skokov{
        .navbar-header-skokov {
            h1{
                margin: 0;
                .brand-skokov{
                    margin: 0;
                    .img-logo{
                        width: 100%;
                    }
                }
            }
            .btn-collapsed-skokov {
                span{
                }
            }
        }
        .nav-skokov {
            .li-nav-skokov {
                //margin: 40px;

                a {
                    padding: 27px 10px;

                }
            }
        }
    }
}
@media (min-width: 1200px)  {
    html{
        font-size: 16px;
    }
    .navbar-skokov {
        .nav-header-skokov {
            .btn-collapsed-skokov {
            }
        }
        .brand-skokov {
            .img-logo {
                width: 100%;
                height: 100%;
                //margin-top: 34px;

            }
        }
        .nav-skokov {
            .li-nav-skokov {
                //font-size: 16px;

                a {
                    padding: 25px 9px;
                    margin: 64px 0 40px 50px;
                }
            }
        }
    }

}
